<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            />
    </head>
    <body>
        <header>
            <input type="checkbox" name="" id="toggler" />
            <label for="toggler" class="fa fa-bars"></label>
            <link rel="stylesheet" href="styles/style.css">
            <a href="#" class="logo">Univer<span>.</span></a>

            <nav class="navbar">
                <a href="index.html#home">home</a>
                <a href="index.html#about">about</a>
                <a href="index.html#products">products</a>
                <a href="index.html#review">review</a>
                <a href="contacts">contacts</a>
            </nav>

            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-shopping-cart"> <span>1</span></a>
                <a href="#" class="fas fa-user"></a>
            </div>
        </header>

        <section class="cart">
            <div class="cart_container">
                <div class="row_left">
                    <div class="product_name">Кофта</div>
                    <div class="pro_bot">
                        <div class="count">2</div>
                        <div class="price">X 5.00$</div>
                        <div class="status">на складе</div>
                    </div>
                </div>
                <div class="row_right">
                    <div class="total_price">10$</div>
                    <div class="delete"></div>
                </div>
            </div>
        </section>
    </body>
</html>