<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/style.css" />

    <title>Internet Shop</title>
  </head>
  <body>
    <!-- start header -->
    <header>
      <input type="checkbox" name="" id="toggler" />
      <label for="toggler" class="fa fa-bars"></label>

      <a href="#" class="logo">Univer<span>.</span></a>

      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="#contacts">contacts</a>
      </nav>

      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"> <span>1</span></a>
        <a href="#" class="fas fa-user"></a>
      </div>
    </header>
    <!-- end header -->

    <!-- start home -->
    <section class="home" id="home">
      <div class="content">
        <h3>Cannabis</h3>
        <span>natural cannabis</span>
        <p>
          lSunt voluptate amet esse pariatur voluptate aliquip aute qui laboris
          cillum magna fugiat aliqua duis.
        </p>
        <a id="#" class="btn">shop now</a>
      </div>
    </section>
    <!-- end home -->

    <!-- start about us -->
    <section class="about" id="about">
      <h1 class="heading"><span> About </span> us</h1>

      <div class="row">
        <div class="content">
          <h3>why choose us?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            labore expedita vel eveniet. Adipisci vel, expedita quaerat delectus
            similique consequatur tempora ratione soluta laborum accusamus
            reprehenderit dolorum obcaecati labore cumque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
            quibusdam, accusantium perferendis repellendus reiciendis non
            recusandae! Ea atque, incidunt rerum quaerat error impedit omnis
            molestias aliquid. Omnis alias aliquam nulla.
          </p>
          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </section>
    <!-- end about us -->

    <section class="icons">
      <div class="icon">
        <img src="media/icon-1.png" alt="" />
        <div class="info">
          <h3>free delivery</h3>
          <span>on all orders</span>
        </div>
      </div>

      <div class="icon">
        <img src="media/icon-2.png" alt="" />
        <div class="info">
          <h3>10 days return</h3>
          <span>moneyback garantree</span>
        </div>
      </div>

      <div class="icon">
        <img src="media/icon-3.png" alt="" />
        <div class="info">
          <h3>offers & gifts</h3>
          <span>on all orders</span>
        </div>
      </div>

      <div class="icon">
        <img src="media/icon-4.png" alt="" />
        <div class="info">
          <h3>secure payment</h3>
          <span>protected by paypal</span>
        </div>
      </div>
    </section>

    <!-- start product list  -->
    <section class="products" id="products">
      <h1 class="heading">latest <span>products</span></h1>

      <div class="box-container">
        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>

        <div class="box">
          <span class="discount">-10%</span>

          <div class="image">
            <img src="media/img-2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="cart-btn">add to cart</a>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>

          <div class="content">
            <h3>flower pot</h3>

            <div class="price">$12.99 <span>$15.99</span></div>
          </div>
        </div>
      </div>
    </section>
    <!-- end products list -->
    <script src="script.js"></script>
  </body>
</html>
