<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      />
    <title>Document</title>
  </head>
  <body class="pv">
    <header>
      <input type="checkbox" name="" id="toggler" />
      <label for="toggler" class="fa fa-bars"></label>

      <a href="#" class="logo">Univer<span>.</span></a>

      <nav class="navbar">
        <a href="index.html#home">home</a>
        <a href="index.html#about">about</a>
        <a href="index.html#products">products</a>
        <a href="index.html#review">review</a>
        <a href="contacts.html">contacts</a>
      </nav>

      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="cart.html" class="fas fa-shopping-cart"> <span>1</span></a>
        <a href="#" class="fas fa-user"></a>
      </div>
    </header>

    <section class="product_review">
      <div class="content">
        <div class="image">
          <img src="media/im4.jpg" alt="" />
        </div>
        <div class="info">
          <h3>jeans</h3>
          <span>underpants</span>
          <div class="price">$12.99 <span>$15.99</span></div>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam
            aut, eum dolorem tempora libero architecto natus labore nisi nihil.
            At dolore corrupti sed quod id. Porro minima necessitatibus
            blanditiis magni?
          </p>
          <div class="counter">
            <div class="down" onClick="decreaseCount(event, this)">-</div>
            <input type="text" readonly value="1" />
            <div class="up" onClick="increaseCount(event, this)">+</div>
          </div>
          <div class="end">
            <div class="total">$123</div>
            <button>Add to chart</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
