:root {
  --blue: #81cad6;
  --yellow: #edcd44;
  /* --yellow: #ffa197; */
  --red: #dc3e26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

/* 

blue: #81CAD6
yellow: #EDCD44
red: #DC3E26

*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

span {
  padding: 0;
  margin: 0;
  /* line-height: 0%;/ */
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  box-shadow: 0 0 15px grey;
  text-align: center;
  color: gray;
  border-radius: 5px;
  padding: 7px;
  /* align-items: center; */

}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  color: #fff;
  background-color: #333;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background-color: var(--yellow);
}

a {
  color: #333;
}

input {
  margin: 5px 15px;
  height: 25px;
}

textarea {
  height: 150px;
  margin: 5px 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4em;
  width: clamp(360px, 90vw, 1000px);
  margin-inline: auto;
  margin-top: 8em;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 19%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 3rem;
  color: var(--blue);
  font-weight: bolder;
}

header .logo span {
  color: var(--red);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  /* color: var(--yellow); */
  color: #666;
}

header .icons a {
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: #333;
  /* font-family: sans-serif; */
}

header .icons a:hover {
  color: var(--red);
}

header .icons .cart-link{
  position: relative;
  font-size: 1.3rem;
}

header .icons .cart-link span{
  position: absolute;
  top: -13px;
}

header input {
  display: none;
}

header .fa-bars {
  font-size: 2.5rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: none;
  /* padding */
}

.number-input {
  border: 1px solid #ddd;
  display: inline-flex;
  height: calc(100% - 2px);
}

/* .number-input,
.number-input * {
  box-sizing: border-box;
} */

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding:0;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("media/back.jpg"); */
  background-color: var(--blue);
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  /* color: var(--red); */
  color: #333;
}

.home .content span {
  font-size: 3.5rem;
  color: var(--yellow);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #999;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  margin: 2rem 0;
  padding: 1rem;
  /* background: rgba(237, 228, 187, 0.2); */
  background: rgba(245, 225, 223, 0.2);
}

.heading.home-heading {
  width: 100%;
  text-align: center;
}

.heading span {
  color: var(--yellow);
}

.productsHeading {
  margin-top: 3em;
  font-size: 20px;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

section.icons {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* padding: 5rem 0; */
}

section.icons .icon {
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  align-items: center;
  flex: 1 1 25rem;
  display: flex;
  justify-content: space-around;
}

section.icons .icon .info h3 {
  color: #333;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

section.icons .icon .info span {
  color: #999;
  font-size: 1.3rem;
}

section.products {
  width: 100%;
}


.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: flex-start;
}

.products .box-container .box {
  flex: 1 1 260px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--yellow);
  background: rgba(245, 225, 223, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.05);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background-color: var(--yellow);
  color: #fff;
}

.products .box-container .box .image .icons a:hover {
  background-color: white;
  color: var(--yellow);
}

.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
  cursor: pointer;
  background-color: rgb(246, 195, 82);
}

.products .box-container .box:hover .icons {
  display: grid;
  grid-template-columns: 80px auto repeat(2, 35px);
}

.products .box input, .products .box button {
  width: 100%;
  height: 3.2em;
  margin: 0;
  border: none;
  text-align: center;
}

.products .box .icons svg {
  width: 100%;
  height: 20px;
  margin-block: auto;
}


.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--yellow);
  font-weight: bolder;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

/* product view */

.pv {
  background-color: var(--blue);
}

.product_review {
  /* height: 100vh; */
  padding-top: 10rem;
  display: flex;
  align-items: center;
}

.product_review .content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.product_review .content>div {
  /* border: 1rem solid black; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex: 1 1 45rem;
}

.product_review .content .image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  /* height: 30vh; */
}

.product_review .content .info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 3rem;
}

.product_review .content .info h3 {
  font-size: 3rem;
  /* line-height: 0.9; */
}

.product_review .content .info p {
  /* padding-top:  */
  font-size: 2rem;
  padding-top: 10%;
  padding-bottom: 10%;
}

.product_review .content .info>span {
  font-size: 1.5rem;
  color: #666;
  text-transform: uppercase;
}

.product_review .content .info .price {
  font-size: 2.5rem;
  color: var(--yellow);
  font-weight: bolder;
  padding-bottom: 10%;
}

.product_review .content .info .price span {
  font-size: 1.5rem;
  color: #666;
  font-weight: bold;
  text-decoration: line-through;
}

.product_count {
  /* height: 4rem; */
  /* width: 1rem; */
  /* justify-content: space-between; */
  /* display: flex; */
  /* color: */
  font-weight: bold;
  /* font-size: 10rem; */
  color: var(--blue);
}

.product_count .button_count {
  /* height: 4rem; */
  width: 4rem;
  text-align: center;
  /* margin: 1rem; */
  padding: 1rem;
}

.product_count input {
  /* height: 4rem; */
  width: 4rem;
  text-align: center;
  /* display: inline-block; */
  /* margin: 1rem; */
  padding: 1rem;

  /* padding: rem; */
}

.counter {
  width: 150px;
  /* margin: auto; */
  padding: 1rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.counter input {
  width: 50px;
  height: 100%;
  border: 0;
  line-height: 30px;
  font-size: 3rem;
  text-align: center;
  background: #fff;
  color: var(--blue);
  appearance: none;
  outline: 0;
}

.counter div {
  display: block;
  font-size: 30px;
  padding: 0rem 10px;
  cursor: pointer;
  color: var(--yellow);
  color: white;
  user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
  border: 0.3rem solid rgba(255, 255, 255, 1);
}

.counter div:hover {
  background-color: white;
  color: var(--blue);
}

.end {
  display: flex;
}

.total {
  background-color: white;
  color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  font-size: 2.3rem;
  font-weight: bold;
}

.product_review .content .info .end>button {
  width: 20rem;
  height: 6rem;
  background-color: rgba(246, 195, 82);
  /* border: 2px solid rgba(246, 195, 82); */
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.product_review .content .info .end>button:hover {
  background-color: white;
  color: var(--blue);
}

section.cart {
  margin-top: 8rem;

}

section.cart h3 {
  font-size: 22px;
  text-align: center;
}

section.cart>.cart_container {
  display: grid;
  background-color: #e8e8e8;
  border-radius: 6px;
  padding: 15px;
  grid-template-columns: 2fr 1fr;
  gap: 15px 0;
  font-size: 16px;
}

/* .cart_container .row_left .product_name {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: bold;
} */

.cart_container .row_left {
  display: grid;
  grid-template-columns: 120px 130px 1fr 2fr 75px;
  align-items: center;
  gap: 11px;
}

.cart_container .row_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.pro_bot {
  /* display: flex; */
  /* font-size: 1.8rem;
  align-items: center;
  padding-top: 1rem; */
}

.cart_container .count {
  color: rgba(0, 0, 0, 0.6);
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.6); */
  /* padding: .5rem; */
  /* border-radius: .5rem; */
  /* margin-right: .5rem; */
}

.cart_container .count input {
  width: 80px;
  margin-inline: 0;
}

.cart_container .price {
  color: rgba(0, 0, 0, 0.6);
  padding: .5rem;
  border-radius: .5rem;
  /* margin-right: 1rem; */
}

.cart_container .status {
  color: #3dbf46;
  text-transform: uppercase;
}

.cart_container .delete {
  cursor: pointer;
}

/* .row_right {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
} */



.filter {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  margin-top: 3em;
  justify-content: center;
  gap: 14px;
}

.filter .searchForm {
  width: 100%;
  margin-inline: auto;
  box-shadow: none;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0;
  gap: 15px;
}

.filter .searchForm button {
  width: 70px;
  border: 1px solid #999;
  border-radius: 3px;
}

.filter .searchForm input {
  height: 35px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #999;
  padding-inline: 0.6em;
}



.filter > div {
  flex: 1 1 300px;
  /* margin: 2rem; */
}

.filter .priceSlider {
  width: 50%;
  background-color: #fff;
  border-radius: 5px;
  /* padding: 10px 20px; */
}



.min-max label {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  line-height: 1.6;
}

.min-max {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
  padding: 25px 0px 15px 0px;
}

.min-max span {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  /* width: 30px; */
  border: 1px solid #dedede;
}

.min-max-range {
  padding: 30px 0px 20px 0px;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 10px;
  max-width: 400px;
  background-color: #dedede;
  margin: 0;
  padding: 0;
  outline: none;
  /* float: left; */
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0070BF;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.range::moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #0070BF;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.category {

  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  /* padding-left: 2rem; */
}

.category div {
  /* height: 1rem; */
  margin: 0.3rem .5rem;
  padding: 0.1rem .5rem;
  font-size: 1.4rem;
  color: #777;
  /* background-color: ; */
  border: 0.1rem solid rgba(0, 0, 0, .3);
  border-radius: .3rem;

  cursor: pointer;
}

.category div:hover {
  box-shadow: .1rem .3rem .3rem #999;
}

.category .active {
  /* font-size: 2rem; */
  font-weight: bold;
  background-color: var(--red);
  color: white;
  /* color: #333; */
}

.color-category {
  /* padding-left: 2rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: ; */
  /* align-items: center; */
  /* align-content: flex-start; */
}

.color-category div {
  background-color: red;
  /* margin: 1rem;
  margin-top: 0; */
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  cursor: pointer;
  /* border: .2rem solid #999; */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.color-category div:hover {
  /* width: 3.5rem;
  height: 3.5rem; */
  transform: scale(1.4, 1.4);
}

.color-category .green {
  background-color: rgb(95, 180, 66);
}

.color-category .blue {
  background-color: rgb(88, 111, 246);
}

.color-category .red {
  background-color: rgb(234, 52, 35);
}

.color-category .pink {
  background-color: rgb(181, 41, 145);
}

/* Contacts page styles */


.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serirf;
  /* background: #11a5df2b; */
  padding-top: 10vw;
  /* width: 80vw; */
  /* padding: 15px; */
}

.contacts > h2 {
  color: var(--blue);
  font-size: 3rem;
  /* font-weight: bold; */
}

.contact-info {
  padding-top: 2rem;

  display: flex;
  width: 90%;
}

.contacts form {
  box-shadow: none;
  padding: 17px 7px 0 7px;
}


.contacts .details {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40%;
  background: var(--blue);
  color: var(--red);
  border-radius: 5px;
  padding: 17px 7px 0 7px;

  /* box-shadow: 0 0 15px rgb(46, 119, 196); */

}

.contacts .contact-items {
  display: flex;
  align-items: center;
  font-size: 12px;
  /* margin-left: 5px; */
}
.contacts .contact-items svg {
  height: 21px;
}

/* .contact-items-wrapper {
  padding: 25px;
} */

.contacts .details h3 {
  text-align: center;
}

.contacts .details p {
  font-size: 15px;
  margin-left: 15px;
  word-wrap: anywhere;
}

.contacts .details p a {
  /* color: white; */
  color: var(--red);
}

.contacts .details p a:hover {
  color: rgb(160, 154, 154);
}



.contacts button {
  margin: 5px 15px;
  width: 80px;
  background: var(--blue);
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

/* @media screen and (max-width:780px) { */


@media (max-width: 1250px) {
  header {
    padding: 2rem 10%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}



@media (max-width: 768px) {
  html .fa-bars {
    display: block;
  }

  .contacts .contact-info {
    flex-direction: column;
    width: 90%;
    gap: 15px;
  }

  .contacts > h2 {
    padding-top: 5rem
  }

  .contacts form {
    width: 100%;
  }

  .contacts .details {
    width: 100%;
    padding: 27px 17px;
  }


  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem so lid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked~.navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    border: 0.1 solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  section.icons .icon .info h3 {
    color: #333;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  section.icons .icon .info span {
    color: #999;
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
@media (max-width: 360px) {
  main {
    max-width: 350px;
  }
  h3 {
    font-size: 18px;
  }
}